<div class="background">
    <h2 class="policyTitle">UWO SCHEDULE MANAGER PRIVACY POLICY</h2>

    <p>
        In this Privacy Policy, the information that is collected from the user, the justification
        for the collection of said information, the methods that this information will be used in,
        the personnel that hs access to this information, and the fate of this information ,
        in the event of a takeover or dissolution, will be stated.
    </p>
    <hr>
    <h3>The collected information:</h3>
    <p>
        The information which is collected is the user's name, email, and a password.
        In the event of a log-in using Google, the user's Google account information will be collected as well.
    </p>

    <h3>The justification for the information collection:</h3>
    <p>
        This information is collected in order to create new user accounts and to authenticate registered users on the
        UWO
        Schedule MANAGER
        web-application. By collecting this information, users will have a more personalized, secure, and accessible
        experience
        while using the website features.
    </p>

    <h3>How this information is used:</h3>
    <p>
        The collected information is used to register and authenticate the users. Therefore, this website stores the
        information
        on a databse located on Firebase. Firebase is a google flagship used for web and app development. By storing
        information
        on Firebase, whenever a user enters their credentials to log in, Firebase compares the input with the stored
        information,
        and if there is a match, the user is authenticated and given access to the website.
    </p>

    <h3>
        Personnel who has access to this information:
    </h3>
    <p>
        The individuals/groups who have access to the collected information are the website manager,
        Google, and Firebase.
    </p>

    <h3>In the event of a takeover or dissolution</h3>
    <p>
        In the event of a takeover or dissolution, the new privacy policy will be emailed to all registered accounts
        as well as be published on the website.
    </p>
</div>