<div class="background">
    <h2 class="policyTitle">UWO SCHEDULE ACCEPTABLE USE POLICY</h2>

    <p>
        Please read this acceptable use policy ("policy", “AUP”) carefully before using the UWO Schedule Manger
        web-application.
        Services provided by us may only be used for lawful purposes. You agree to comply with all applicable laws,
        rules, and regulations
        in connection with your use of the services. Any material or conduct that in our judgment violates this policy
        in any manner may
        result in suspension or termination removal of user’s account with or without notice.
    </p>

    <hr>
    <h3>Prohibited Use:</h3>
    <p>
        You may not use the services to publish content that is illegal under applicable law or that is harmful to
        others,
        including, without limitation, in connection with any of the following, each of which is prohibited under this
        AUP:
    </p>
    <ul>
        <li>Phishing or engaging in identity theft</li>
        <li>Distributing computer viruses, worms, Trojan horses, or other malicious code</li>
        <li>Infringing the intellectual property or other proprietary rights of others</li>
    </ul>



    <h3>Enforcement:</h3>
    <p>
        Your services may be suspended or terminated with or without notice upon any violation of this policy.
        Any violations may result in the immediate suspension or termination of your account.
    </p>

    <h3>Reporting Violations:</h3>
    <p>
        To report a violation of this policy, please contact us at AdminUSM@gmail.com.
        We reserve the right to change this policy at any given time, of which you will be promptly updated.
        If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this
        page.

    </p>

</div>