<div class="signIn">
    <h2 class="messageCenter">
        Sign up for an account here:
    </h2>
    <div class="form"><input type="email" #emailSignup placeholder="Enter your email" />
        <input type="password" #passwordSignup placeholder="Enter your password" />
        <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button></div>

</div>
<br>
<div class="signUp">
    <h2 class="messageCenter">
        Log in to your account here:
    </h2>
    <div class="form"><input type="email" #emailSignin placeholder="Enter your registered email" />
        <input type="password" #passwordSignin placeholder="Enter your password" />
        <button (click)="onSignin(emailSignin.value,passwordSignin.value)">Log in</button></div>
</div>

<br>

<div class="google">
    <h2 class="messageCenter">
        Log in using your Google account here:
    </h2>
    <div class="form">
        <button class="button" (click)="auth.googleSignin()">Log in with google</button>
    </div>
</div>

<br>
<div class="aboutUs">
    <h3 class="messageCenter">
        About this website:
        <p>
            Welcome to the UWO Schedule Manager! In this web-application,
            you will find many helpful features used for creating and viewing
            different schedules. Once you create an account,you can view different
            courses and their subjects, a variety of schedules made by users,
            and you can even make your own schedule. We hope that you have a wonderful experience!
        </p>
    </h3>
</div>
<br>
<div class="pol">
    <h3 class="messageCenter">
        UWO Schedule Manager Privacy Policy:
        <button (click)="privacyPolicy()">Privacy Policy Information</button>
    </h3>
</div>
<br>
<div class="loginSearch">
    <div class="subjectSearch">
        <p>Please enter the subject you are looking for</p>
        <input placeholder="Enter the subject name" type="text" [(ngModel)]="subject_entry">
    </div>

    <br>
    <div class="courseSearch">
        <p>Please enter the course component for the selected subject</p>
        <input type="text" placeholder="Input the course code" [(ngModel)]="component_entry">
    </div>
    <br>

    <select class="courseComponent_">
        <option value=ANY>Select a component</option>
        <option value=LEC>LECTURE</option>
        <option value=TUT>TUTORIAL</option>
        <option value=LAB>LABORATORY</option>
    </select>
    <br>
    <button (click)="subjectSearch()"> Search by subject and component </button>
    <br>
    <button (click)="subjectSearchSolo()">Search by subject</button>
    <br>
    <input type="text" placeholder="Search by Catalog Number or Class Number keywords" [(ngModel)]="super_entry">
    <button (click)="softSearch()">
        Super Search
    </button>
    <br>
    <div>
        <ul>
            <li *ngFor="let courseInfo of array_1" class="ResultsList">

                <div class="Results">
                    <p>
                        ClassNumber: {{courseInfo.course_info[0].class_nbr}}
                    </p>

                    <p>
                        StartTime: {{courseInfo.course_info[0].start_time}}
                    </p>

                    <p>
                        Description: {{courseInfo.course_info[0].descrlong}}
                    </p>

                    <p>
                        EndTime: {{courseInfo.course_info[0].end_time}}
                    </p>

                    <p>
                        Campus: {{courseInfo.course_info[0].campus}}
                    </p>

                    <p>
                        FacilityID: {{courseInfo.course_info[0].facility_ID}}
                    </p>

                    <p>
                        Days: {{courseInfo.course_info[0].days}}
                    </p>

                    <p>
                        Instructors: {{courseInfo.course_info[0].instructors}}
                    </p>

                    <p>
                        classSection: {{courseInfo.course_info[0].class_section}}
                    </p>

                    <p>
                        Component: {{courseInfo.course_info[0].ssr_component}}
                    </p>

                    <p>
                        EnrollmentStatus: {{courseInfo.course_info[0].enrl_stat}}
                    </p>

                    <p>
                        Info: {{courseInfo.course_info[0].descr}}
                    </p>
                </div>

            </li>
        </ul>
    </div>
    <div *ngFor="let item of courses">
        <div>
            {{item.className}}
        </div>

    </div>
</div>